<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ pageTitle }}</title>
  <!-- Import Map URL: {{{ importMap.url }}}  -->
  {{#importMap.isSystemJS}}
  <script type="systemjs-importmap">
    {{{importMap.json}}}
  </script>
  <meta name="importmap-type" content="systemjs-importmap" />
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.14.2/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.14.2/dist/extras/amd.min.js"></script>
  {{/importMap.isSystemJS}}
  {{^importMap.isSystemJS}}
  <script type="importmap">
    {{importMap.json}}
  </script>
  {{/importMap.isSystemJS}}
  {{#preloads}}
  {{#importSpecifier}}
  <!-- {{{importSpecifier}}} -->
  {{/importSpecifier}}
  <link rel="preload" href="{{href}}" as="{{as}}">
  {{/preloads}}
  {{#headScripts}}
  <script src="{{src}}"{{#async}} async{{/async}}{{#defer}} defer{{/defer}}></script>
  {{/headScripts}}
  {{#headStylesheets}}
  <link rel="stylesheet" href="{{href}}">
  {{/headStylesheets}}
</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <main></main>
  <script>
    {{#importMap.isSystemJS}}System.{{/importMap.isSystemJS}}import('{{importMap.entryModule}}');
  </script>
  {{#importMap.useOverrides}}
  <script defer src="https://cdn.jsdelivr.net/npm/import-map-overrides@3.1.1/dist/import-map-overrides.js"></script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
  {{/importMap.useOverrides}}
</body>
</html>